__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
build/
dist/
node_modules/
*.spec

bin/*
!bin/.gitkeep
wheels/*
!wheels/.gitkeep
output/*/*
!output/*/.gitkeep
resources/*.ttf
resources/fonts/*.ttf
resources/fonts/*.otf
logs/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
*.swp
*.swo
*.log
README.md
