__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
build/
dist/
*.spec

bin/*
!bin/.gitkeep
wheels/*
!wheels/.gitkeep
output/*/*
!output/*/.gitkeep
resources/*.ttf
logs/

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
